<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModelingProject1Lib.Properties.Settings.ApartmentRentalSystemConnectionString"
            connectionString="Data Source=LAPTOP-R8HPG2GL\SQLEXPRESS;Initial Catalog=ApartmentRentalSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>